/* your styles go here */
.home-carousel {
    position: relative;
    background: url('../img/carousel/rivers.svg') center center repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 60vh;

}

.home-carousel .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.7;
    filter: alpha(opacity=40);
}

.home-carousel h1 {
    color: black;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 55px;
}

.home-carousel ul {
    color: black;
    font-family: Cambay, "Lucida Console", "Courier New", monospace;
}

.navbar {
    background: #333333;
}

.home-carousel p {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0.10em;
    text-align: center;
    font-family: Cambay, "Lucida Console", "Courier New", monospace;
  }

  .col-sm-5 {
    width: 100%;
}
