/* your styles go here */
@import url('https://fonts.googleapis.com/css2?family=Cambay&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/arial');
@import url("https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css");

.home-carousel {
    position: relative;
    background: url('../img/carousel/rivers.svg') center center repeat;
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 60%;

}

.home-carousel .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.7;
    filter: alpha(opacity=40);
}

.home-carousel h1 {
    color: #004884;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 55px;
    text-transform: none;
    margin-bottom: 48px;
}

.navbar {
    background: #333333;
}

.navbar ul.nav>li>a {
    color: #FFFFFF;
    text-transform: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.home-carousel p {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: 0.10em;
    text-align: center;
    font-family: Cambay, "Lucida Console", "Courier New", monospace;
}

.col-sm-5 {
    width: 100%;
    height: 50%;
}

.doc-button {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 10px;
    margin: 0 auto;
    border: none;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 300px;
    height: 60px;
    min-height: 56px;
    max-height: 56px;
    left: 83px;
    top: 150px;
    background: #FA5700;
    border-radius: 3px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bar {
    position: relative;
    background: var(--primary-accent);
    padding: 30px 0;
}

.box-simple h3 {
    text-transform: none;
    color: #000000;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

.box-simple p {
    color: #606060;
    font-family: Cambay, "Lucida Console", "Courier New", monospace;
}

.box-simple .icon {
    color: #004884;
    border-color: #555555;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    color: #fff;
    line-height: 90px;
    border-radius: 40px;
    border: solid 1px #fff;
    font-size: 32px;
}

#footer {
    display: none;
}
