*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* body {
  font-family: "Sora", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
} */

/* img {
  max-width: 100%;
  display: block;
} */

nav {
  /* display: flex;
  justify-content: center;
  align-items: center;

  height: 3.5rem;
  width: 100%;
  background-color: black;
  color: lightgray; */

  position: absolute;
  width: 1512px;
  height: 63px;
  left: 0px;
  top: 0px;

  background: #333333;
}

.logo {
  position: absolute;
  width: 153.34px;
  height: 39px;
  left: 27px;
  top: 11px;
}

/* nav > a {
  display: block;
  padding: 1rem 2rem;
  color: lightgray;
}
nav > a:hover {
  color: aqua;
}

main {
  max-width: 50rem;
  margin: 0 auto;
  padding: 3rem 2rem;
  min-height: 100vh;
} */

/* main > h1 {
  margin: 2rem 0 0.5rem;
} */

/* main > img {
  border-radius: 5px;
} */

/* footer {
  background-color: black;
  color: lightgray;
  padding: 2rem;
} */

.logo {
  position: absolute;
  width: 153.34px;
  height: 39px;
  left: 27px;
  top: 11px;
}

.parent {
  /* position: relative;
  top: 0;
  left: 0; */
  position: absolute;
  width: 1512px;
  height: 923px;
  left: 0px;
  top: 59px;

  background: linear-gradient(90.11deg, #F5F5F5 43.74%, rgba(245, 245, 245, 0.636649) 55.75%, rgba(245, 245, 245, 0) 87.71%);

}
.rivers {
  /* position: relative;
  top: 0;
  right: 0; */
  position: absolute;
  width: 1182px;
  height: 919px;
  left: 330px;
  top: 63px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bg {
  /* position: absolute;
  top: 0;
  left: 0; */
  position: absolute;
  width: 1512px;
  height: 923px;
  left: 0px;
  top: 59px;

  background: linear-gradient(90.11deg, #F5F5F5 43.74%, rgba(245, 245, 245, 0.636649) 55.75%, rgba(245, 245, 245, 0) 87.71%);
}
.title {
  position: absolute;
  width: 670px;
  height: 96px;
  left: 77px;
  top: 198px;

  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  /* identical to box height */

  color: #000000;
}
.subtitle {
  position: absolute;
  width: 651px;
  height: 222px;
  left: 83px;
  top: 306px;

  font-family: Cambay, "Lucida Console", "Courier New", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #000000;
}
.white-box {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  position: absolute;
  width: 1512px;
  height: 345px;
  left: 0px;
  top: 637px;
  background: #FFFFFF;
}
.box {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  position: absolute;
  width: 199px;
  height: 262px;
  left: 173px;
  top: 670px;
}
.clock {
  /* position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0; */
  position: absolute;
  width: 204px;
  height: 223px;
  left: 602px;
  top: 709px;
}
.postcard {
  /* position: absolute;
  right: 0;
  bottom: 0; */
  position: absolute;
  width: 183px;
  height: 216px;
  left: 1095px;
  top: 716px;
}
