---
title: konflux land page
layout: base.njk
tags: main
---

<img class="rivers" src="/assets/images/rivers.svg"/>
<img class="bg" src="/assets/images/background.svg"/>
<div class="title">Welcome to Konflux!</div>
<div class="subtitle">An opinionated, Kubernetes-native, security-first software factory based on Tekton. It is largely implemented using the CRD / Controller / reconciliation loop pattern.</div>
<img class="white-box" src="/assets/images/white_box.svg" />
<img class="box" src="/assets/images/box.svg" />
<img class="clock" src="/assets/images/clock.svg" />
<img class="postcard" src="/assets/images/postcard.svg" />
