<div class="konflux-container">
    <img src='../assets/images/rivers.svg' class="rivers" alt="konflux" />
    <img src='../assets/images/background.svg' class="bg" alt="bg" />
        <div class="title">Welcome to Konflux!</div>
        <div class="subtitle">An opinionated, Kubernetes-native, security-first software factory based on Tekton. It is largely implemented using the CRD / Controller / reconciliation loop pattern.</div>
        </div>
        </div>
</div>
