<div class="links-container">
    <img src='../assets/images/white_box.svg' class="white-box" />
    <img src='../assets/images/box.svg' class="box"  />
    <img src='../assets/images/clock.svg' class="clock" />
    <img src='../assets/images/postcard.svg' class="postcard" />
</div>
