<!-- _includes/partials/_navigation.njk-->
<nav>
    <img href="ynet.co.il" class="logo" src="/assets/images/logo.svg"/>
    <!-- {%- for item in collections.page -%}
        <a href="{{ item.url }}">{{ item.data.title }}</a>
    {%- endfor -%} -->
</nav>
